<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Crypto challenge - Mission></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom css -->
    <link rel="stylesheet" href="../../stylesheets/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Crypto Challenge</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/leaderboard"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Leaderboard</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= name %> (logout)</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- Main info -->
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Crypto Challenge 2017</h1>
            <h4><i>Use all your skills to decode data</i></h4>
            <hr>
        </div>
    </div>
</div>

<div class="container text-center challenges">
    <div class="row ">
        <div class="col-md-6 col-md-push-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/challenge/<%= challenge.stub %>"><%= challenge.title %></a> - <%= challenge.points %> point(s)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form id="form_solve" name="form_solve" action="
                            <%= challenge.stub %>
                        " method="POST" role="form">
                        <div class="challenge-info">
                            <%= challenge.problem %>
                        </div>
                        <fieldset>
                            <input type="hidden" name="challenge" value="<%= challenge.stub %>">
                            <div class="form-group">
                                <input class="form-control" placeholder="Answer" name="answer" type="text" value="">
                            </div>

                            <% if(typeof info !== 'undefined') { %>
                                <% if(info[0] === 'error') { %>
                                    <div class="alert alert-danger">
                                        <%= info[1] %>
                                    </div>
                                <% } else { %>
                                    <div class="alert alert-success">
                                        <%= info[1] %>
                                    </div>
                                <% } %>
                            <% } %>

                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-primary ">  Check</button>
                        </fieldset>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>