body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.challenges {
  padding-top: 50px;
}

.register {
    padding-top: 8%;
}

th {
    text-align: center;
}

.challenge-info {
    padding: 20px;
    padding-bottom: 30px;
}

.navbar-collapse {
    text-align: center;
}
